/* ---- ¸ÞÀÎºñÁê¾ó---- */
.flickity-enabled { position: relative;}
.flickity-enabled:focus { outline: none; }
.flickity-viewport {overflow: hidden; position: relative; height: 100%;}.flickity-slider {position: absolute; width: 100%; height: 100%;}
.flickity-enabled.is-draggable {-webkit-tap-highlight-color: transparent; tap-highlight-color: transparent; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;user-select: none;}
.flickity-enabled.is-draggable .flickity-viewport { cursor: move; cursor: -webkit-grab; cursor: grab;}
.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down { cursor: -webkit-grabbing;cursor: grabbing;}
.flickity-rtl .flickity-page-dots { direction: rtl; }
.flickity-page-dots .dot { display: inline-block; width:66px; height:100px; cursor: pointer;}
.flickity-prev-next-button{display: none;}
.flickity-viewport{width: 100%;}


/* ¹öÆ° */
.flickity-page-dots .dot{opacity: 1; position:absolute;z-index:99999; }
.flickity-page-dots .dot.is-selected{background:#fff; width:50px; height:10px; border-radius:10px; -webkit-border-radius:10px; -moz-border-radius:10px; -o-border-radius:10px;  overflow:hidden; position:absolute; z-index:2; top:0; left:0;}
.flickity-page-dots {position:absolute; left:50%;list-style: none;text-align: center;z-index: inherit;margin-left:-101px; bottom:150px;width:202px;height:12px;background:#2685EF; border-radius:10px; -webkit-border-radius:10px; -moz-border-radius:10px; -o-border-radius:10px; }


/* ÁÂ¿ì È­»ìÇ¥ */
.slides .previous,.slides .next{position:absolute;  width:50px; height:60px; top:50%;display:block;box-shadow:5px 5px 10px 2px rgba(0,0,0,0.2); background-color:rgba(0255,255,255,0.6);text-indent:-9999px; cursor:pointer; z-index:10; background-repeat: no-repeat;  border:none; }
.slides .previous {background-image:url('../../img/prev2.png'); background-position:8px 15px; left:0; border-radius:0 20px 20px 0; -webkit-border-radius:0 20px 20px 0; -moz-border-radius:0 20px 20px 0; -o-border-radius:0 20px 20px 0; }
.slides .next {background-image:url('../../img/next2.png'); background-position:15px 15px; right:0; border-radius:20px 0 0 20px; -webkit-border-radius:20px 0 0 20px; -moz-border-radius:20px 0 0 20px; -o-border-radius:20px 0 0 20px; }

 
/*¸ÞÀÎÀÌ¹ÌÁö Æ÷ÀÎÆ® À§Ä¡*/
.flickity-page-dots .dot:nth-child(1){top:1px;left:1px;}
.flickity-page-dots .dot:nth-child(2){top:1px;left:51px;}
.flickity-page-dots .dot:nth-child(3){top:1px;left:101px;}
.flickity-page-dots .dot:nth-child(4){top:1px;left:151px;}
.slides {margin:0; padding:0; zoom:1;height: 100%;background-size: 100% 100%;}
.slides > li {height:100%;position: relative; z-index:2; }
.slides .cont{width: 100% !important; background-size: cover; display:block; height:100%; background-position:50%; z-index: inherit;}


/* ÅØ½ºÆ® ºÎºÐ */
.slides .box { position:absolute; left:10%; position:absolute; top:50%; margin-top:-120px; color:#fff; z-index:999; }
.slides .box h2{   vertical-align:top; display:block; width:100%;}
.slides .box h2:after {content:"";display:block;clear:both;}
.slides .box h2 span.txt1,
.slides .box h2 span.txt2 {font-size:90px; float:left; letter-spacing:0; color:#FFF; font-weight:900;   text-shadow:3px 3px 3px 1px rgba(0,0,0,0.2); line-height:100%; font-family: 'Audiowide', cursive;vertical-align:top; }
.slides .box h2 span.txt2 {; display:block; width:100%;}
.slides .box h3 {font-size:23px;color:#fff; display:inline-block; background:#01A1EB; line-height:90%; padding:5px 3px 0px 3px; margin:30px 0;font-family: 'GmarketSansMedium'; }
.slides .box p span {font-size:19px; color:#000; font-family: 'GmarketSansMedium'; display:block; opacity:0.7;}


/* È¸ÀüÇÏ´Â Áö±¸ÀÌ¹ÌÁö O */
.box h2 span.txt_o {overflow:hidden; float:left;  display:inline-block; width:100px; height:100px;  padding:0; margin:0; vertical-align:top;line-height:100%;
animation:rotate 10s linear infinite; -moz-animation:rotate 10s linear infinite; -webkit-animation:rotate 10s linear infinite; -o-animation:rotate 10s linear infinite;}
@keyframes rotate
{0%{} 50%{transform: rotate(180deg);} 100%{transform: rotate(360deg );}}
@-moz-keyframes rotate
{0%{} 50%{transform: rotate(180deg);} 100%{transform: rotate(360deg );}}
@-webkit-keyframes rotate
{0%{} 50%{transform: rotate(180deg);} 100%{transform: rotate(360deg );}}
@-o-keyframes rotate
{0%{} 50%{transform: rotate(180deg);} 100%{transform: rotate(360deg );}} 



/* ¾Æ·¡·Î ¹öÆ° */
.slider .downBtn{z-index:1000000; position:absolute; bottom:0px; left: 50%; margin-left:-30px; display:block;  }
.slider .downBtn a img{  opacity:0.6; display:block;}
.slider .downBtn a:hover img{  opacity:1;}
.slider .downBtn{  padding-bottom:40px;}


/* ¿Â¶óÀÎ»ó´ã ¹öÆ° */
.slider  .divpop {position:absolute; z-index:3; right:50px; bottom:50px; }




@media screen and (max-width:1000px) {
/* ÅØ½ºÆ® ºÎºÐ */
.slides .box h2 span.txt1,
.slides .box h2 span.txt2 {font-size:75px;}
.slides .box h3 {font-size:20px;  margin:20px 0;}

/* È¸ÀüÇÏ´Â Áö±¸ÀÌ¹ÌÁö O */
.box h2 span.txt_o {width:80px; height:80px;}
.box h2 span.txt_o img {width:100%;}
}



 
@media screen and (min-width:200px) and (max-width:669px) {
.slider .downBtn{ margin-left:-20px;}
.slider .downBtn img { width:40px;} 
/* ÅØ½ºÆ® ºÎºÐ */
.slides .box { margin-top:-120px; }

/* ÅØ½ºÆ® ºÎºÐ */
.slides .box h2 span.txt1,
.slides .box h2 span.txt2 {font-size:38px;}
.slides .box h3 {font-size:13px; margin:10px 0;}

/* È¸ÀüÇÏ´Â Áö±¸ÀÌ¹ÌÁö O */
.box h2 span.txt_o {width:35px; height:35px;}


/* ÁÂ¿ì È­»ìÇ¥ */
.slides .previous,.slides .next{width:25px; }
.slides .previous {background-size:20px; background-position:3px 18px;}
.slides .next {background-size:20px; background-position:4px 18px;}


 
/* ¿Â¶óÀÎ»ó´ã ¹öÆ° */
.slider  .divpop {  right:30px; bottom:30px; }
.slider  .divpop img {width:70px;}
.TopScroll { right:20px; width:38px; height:38px; background-size:15px;}
.TopScroll:hover {background-size:15px;}
.TopScroll a { width:38px; height:38px;}
}













/* ------------ ¹è³Ê ------------ */
 

/* ---- °¢ ¹è³Ê Å¸ÀÌÆ² ºÎºÐ---- */
.top_tit {z-index:10;}
.top_tit  h2{color:#2478FF; font-size:35px;   font-family: 'GmarketSansBold'; }
.top_tit .subText  {color:#000; font-size:16px;    font-family: 'GmarketSansMedium';   width:90%; margin:0 auto;  padding-top:10px;}
@media screen  and (max-width:767px) {
.top_tit  h2{ font-size:25px; line-height:120%;  }
.top_tit .subText   {font-size:13px;  }
}
 

/* ¹è³Ê:: »ç¾÷¼Ò°³ ·Ñ¸µ*/
#mcount { position:relative;  text-align:center; background:#F6F6F6 url(../../img/m_menu_line.png)  repeat-y center 0; padding:60px 0; overflow:hidden; width:100%;}
#mcount .mcount_txt {position:absolute; z-index:10; top:0; left:0; width:100%; text-align:center; }
#mcount .mcount_txt b{font-size:80px; font-weight:600; color:#000; }
.gb_arlim {position:relative; max-width:1260px; width:90%; margin:0 auto; z-index:13;}
.gb_arlim .prev,.gb_arlim .next,.gb_arlim .pause,.gb_arlim .play {bottom:20px;}
.popup_li {position:inherit; padding:30px 0 50px 0; height:420px; }
.popup_li dl:after {content:"";display:block;clear:both;}
.popup_li dl {width:76%; margin:0  12%;position:relative;}
.popup_li dl dt {width:100%; position:relative; }
.popup_li dl dt img {z-index:1; width:100%;block;box-shadow:5px 5px 10px 2px rgba(0,0,0,0.2); border-radius:50px; -webkit-border-radius:50px; -moz-border-radius:50px; -o-border-radius:50px; }
.popup_li dl dd {width:96%; padding:20px 3%;}
.popup_li dl dd .tit { display:block;  text-align:left; }
.popup_li dl dd .tit h2 {font-size:21px; letter-spacing:-0.01em; color:#000; font-family: 'GmarketSansBold';  text-align:center;}
.popup_li dl dd p {text-align:center; font-size:15px; line-height:140%:}
.slick-slider{ position: relative;display: block;box-sizing: border-box; -webkit-user-select: none;-moz-user-select: none; -ms-user-select: none; user-select: none;  -webkit-touch-callout: none; -khtml-user-select: none;-ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent;}
.slick-list{position: relative; display: block; overflow: hidden; margin: 0; padding: 0;}
.slick-list:focus{ outline: none;}
.slick-list.dragging{ cursor: pointer;}
.slick-slider .slick-track,
.slick-slider .slick-list{-webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0);}
.slick-track{ position: relative;top: 0; left: 0;display: block; margin-left: auto; margin-right: auto;}
.slick-track:before,
.slick-track:after{display: table;content: '';}
.slick-track:after{clear: both;}
.slick-loading .slick-track{ visibility: hidden;}
.slick-slide{display: none; float: left; height: 100%; min-height: 1px;}
[dir='rtl'] .slick-slide{float: right;}
.slick-slide img{ display: block;}
.slick-slide.slick-loading img{ display: none;}
.slick-slide.dragging img{ pointer-events: none;}
.slick-initialized .slick-slide{display: block;}
.slick-loading .slick-slide{ visibility: hidden;}
.slick-vertical .slick-slide{ display: block; height: auto; border: 1px solid transparent;}
.slick-arrow.slick-hidden { display: none;}
.slick-arrow,.slick-dots li button {  cursor:pointer;}
.prev,.next,.pause,.play {position:absolute; width:33px; height:33px; display:block; text-indent:-9999px; cursor:pointer; z-index:10; background-repeat: no-repeat; background-color:transparent; 
border:none; bottom:0px; }

/* ÀÌÀü ´ÙÀ½ Àç»ý¹öÆ° */
.gb_arlim .prev,.gb_arlim .next {background-color:#000; border-radius:50%; top:33%;}
.gb_arlim .prev { background-image:url('../../img/prev.png'); margin-left:-50px; left:0;}
.gb_arlim .next { background-image:url('../../img/next.png'); margin-right:-50px; right:0;}
.pause {background-image:url('../../img/pause.png'); left:50%; margin-left:-15px; }
.play {background-image:url('../../img/play.png'); left:50%; margin-left:-15px; display:none;}
.slick-dots {display:none !important;}

/* ¸ð¼Ç ÅØ½ºÆ® */
.txt_bg_wrap {  z-index:12;position:absolute; width:100%; height:100px; top:45%; left:0; display:none; }
.txt_bg { position:relative; height:80px; }
.txt_bg > div {  position:absolute; height:80px; width:3600px; font-size:0; }  
.txt_bg .inner { width:1800px; top:0; display:inline-block; }
.txt_bg .txt_top .inner { right:0; }
.txt_bg .inner span { display:inline-block; vertical-align:middle; position:relative; font-size:80px;  color:#2478FF; font-family: 'Tourney', 'GmarketSansBold', cursive;  letter-spacing:0.01em;}
.txt_bg_gray { z-index:11; position:absolute; top:20%; width:1000px;  right:50%; margin:0 -500px 0 0;  font-size:220px; color:#E2E0E0; font-family: 'Tourney', 'GmarketSansBold', cursive;}


@media screen  and (min-width:1260px) {
.popup_li dl dt a:hover .ov{position:absolute; z-index:10; top:0; left:0;  background-position: 145px 110px; width:100%; height:100%; background-image:url(../../img/icon_view.png); background-repeat:no-repeat;  background-color:rgba(36,120,255,0.7); display:block; border-radius:50px; -webkit-border-radius:50px; -moz-border-radius:50px; -o-border-radius:50px; }
}


@media screen  and (max-width:1000px) {
#mcount {padding:50px 0;}
#mcount .mcount_txt b{font-size:50px; }
.popup_li {padding:20px 0 40px 0;}
.popup_li dl dd .tit h2 {font-size:15px; line-height:120%;}
.popup_li dl dd p {font-size:12px;}

/* ÀÌÀü ´ÙÀ½ Àç»ý¹öÆ° */
.gb_arlim .prev,.gb_arlim .next {top:26%;}
.gb_arlim .prev { background-image:url('../../img/prev.png'); margin-left:0px; left:0;}
.gb_arlim .next { background-image:url('../../img/next.png'); margin-right:0px; right:0;}

/* ¸ð¼Ç ÅØ½ºÆ® ¹è°æ È¸»ö±Û½Ã*/
.txt_bg_gray {top:30%; width:400px; overflow:hidden; margin:0 -200px 0 0;  font-size:120px;}
}


@media screen  and (max-width:600px) {
  .popup_li {padding:20px 0 40px 0; height: 350px;}
}





/* ¹è³Ê:: À¥ÆÑÅä¸®´Â? µ¿±×¶õ ¹è³Ê ³×°³ */
.about {width:100%; position:relative; background:#2478FF url(../../../waveon/back_img.jpeg) no-repeat 0 bottom; padding:150px 0; background-size:cover; overflow:hidden; }
.about .about_top {max-width:1260px; text-align:left; margin:0 auto;  text-align:center; }
.about .about_top h3 {font-size:50px; display:inline-block; font-family: 'GmarketSansBold'; font-weight:600;  margin:10px 0; padding-top:15px; line-height:100%; color:#fff; background:url(../../img/about_mark.png) no-repeat 0 0; background-size:65px; padding-left:75px; }
.about .about_top  p { font-family: 'GmarketSansMedium'; padding-top:5px; font-size:17px; color: #fff; display:block;  }
.about .about_top  p span { font-family: 'GmarketSansMedium';  opacity:0.8; font-size:17px; color: #fff; } 
 
@media screen  and (max-width:1000px) {
.about {padding:80px 0;}
.about .about_top h3 {font-size:30px;background-size:50px; padding-left:60px;   }
.about .about_top  p {padidng-left:60px;}
.about .about_top  p,
.about .about_top  p span { font-size:13px; } 
}
 
.container01 .box01{  text-align:center; padding-top:20px; }
.container01 .box01 ul{display: inline-block;  max-width:1260px;   margin:0 auto; }
.container01 .box01 ul {margin-top:30px;}
.container01 .box01 ul li { float:left; width:250px;   display:inline-blcok; margin:0 30px; }
.container01 .box01 ul li div.img {background:#000; border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%; width:100%; }
.container01 .box01 ul li .mb_01  {background:url(../../img/mquick_1.jpg) no-repeat center 0; }
.container01 .box01 ul li .mb_02  {background:url(../../img/mquick_2.jpg) no-repeat center 0; }
.container01 .box01 ul li .mb_03  {background:url(../../img/mquick_3.jpg) no-repeat center 0; }
.container01 .box01 ul li .mb_04  {background:url(../../img/mquick_4.jpg) no-repeat center 0; }
.container01 .box01 ul li .mb_01,
.container01 .box01 ul li .mb_02,
.container01 .box01 ul li .mb_03,
.container01 .box01 ul li .mb_04 {background-size:250px; height:250px;  width:100%; background-color:#000; display:inline-blcok;  opacity:0.8;  -moz-transition:all 0.5s;-webkit-transition:all 0.5s;transition:all 0.5s;  border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%;}
.container01 .box01 ul li a:hover div {background-color:#000; }
.container01 .box01 ul li a:hover .mb_01,
.container01 .box01 ul li a:hover .mb_02,
.container01 .box01 ul li a:hover .mb_03,
.container01 .box01 ul li a:hover .mb_04 {opacity:0.3;}
.container01 .box01 ul li a div h3 {position:absolute; z-index:100;  top:40%; width:100%; text-align:center; font-size:21px; font-family: 'GmarketSansMedium';   -moz-transition:all 0.5s;-webkit-transition:all 0.5s;transition:all 0.5s;   color:#fff;  }
.container01 .box01 ul li a div h3 span {background:url(../../img/h_line_b.gif) no-repeat center 0; font-size:14px; font-family: 'GmarketSansMedium';  color: #19CFC0; padding-top:10px; margin-top:7px;   font-weight:400;  display:block;}
.container01 .box01 ul li a:hover div h3 span {color:#2478FF;}
.container01 .box01 ul li a:hover div h3 {top:42%; }
.container01 .box01 ul li a p{ margin-top:20px;}
.container01 .box01 ul li a p span{ font-size:14px;  line-height:140%;  color:#fff;}
 
@media screen  and (max-width:1300px) {
.container01 .box01 ul{ max-width:1120px; }
.container01 .box01 ul li { margin:0 15px; }
}
@media screen  and (max-width:1140px) {
.container01 .box01 ul{ max-width:920px;}
.container01 .box01 ul li { width:200px;}
.container01 .box01 ul li .mb_01,
.container01 .box01 ul li .mb_02,
.container01 .box01 ul li .mb_03,
.container01 .box01 ul li .mb_04 {background-size:200px; height:200px;}
}
@media screen  and (max-width:1000px) {
.container01 .box01 ul{ max-width:700px; }
.container01 .box01 ul li { width:46%; margin:0 2% 30px 2%; text-align:center; }
.container01 .box01 ul li div.img {width:200px; margin:0 auto;}
}
@media screen  and (max-width:600px) {
.container01 .box01 h2{ font-size:23px;}
.container01 .box01 .subText a { font-size:14px; margin-top:0px;  }
.container01 .box01 ul li .mb_01,
.container01 .box01 ul li .mb_02,
.container01 .box01 ul li .mb_03,
.container01 .box01 ul li .mb_04 {background-size:150px; height:150px;}
.container01 .box01 ul li div.img {width:150px;}
.container01 .box01 ul li a div h3 { top:33%; font-size:16px; }
.container01 .box01 ul li a div h3 span { font-size:12px;}
.container01 .box01 ul li a p{  margin-top:10px;}
.container01 .box01 ul li a p span{ font-size:10px;}  
}









 
 

/* ¹è³Ê:: µ¿¿µ»ó */
.m_movie {background:#eee url(../../img/m_movie_bg.jpg) no-repeat right  bottom; background-size:cover; width:100%; position:relative; padding:140px 0; overflow:hidden;}
.m_movie section {max-width:1260px; width:90%; margin:0 auto; position:relative; text-align:center;}
 
.m_movie  h2{color:#fff;  }
.m_movie .top_tit .subText  {color:#fff; opacity:0.7;}
 
.portfolio { overflow: hidden; margin:30px auto;}
.portfolio ul {width:100%; position:relative;}
.portfolio ul:after{content:"";display:block;clear:both;}
.portfolio ul li { border:#000 10px solid ; float: left; position:relative;   display:inline-block; border-radius:10px; -webkit-border-radius:10px; -moz-border-radius:10px; -o-border-radius:10px; width:29%; margin: 1%;   }
.portfolio ul li img {max-width:100%; line-height:100%; font-size:0;}
.portfolio ul li div.btn_ytube  {position: absolute; width:100%; text-align:center; top:50%; margin-top:-35px;}
.portfolio ul li div.btn_ytube   a:hover img {opacity:0.7; }
#portfol_load { display: block; width: 100%; max-width: 160px; margin: 20px auto; text-align: center; margin-left: 42%; border: 1px solid #000; padding: 10px 0;}

@media screen  and (max-width:1000px) {
.portfolio ul li {width:44%; margin:1.5%;   }
}

@media screen  and (max-width:800px) {
.portfolio ul li { border:#000 5px solid ; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; -o-border-radius:4px;  }
.portfolio ul li div.btn_ytube img {width:50px;}
.portfolio ul li div.btn_ytube  { margin-top:-17px;}
}
 



/* ¿òÁ÷ÀÌ´Â ¹è°æÀÌ¹ÌÁö */
.mm_img1 { position:absolute; z-index:1; opacity:1; display:block; width:400px; height:400px; background:#fff; border-radius:50%; -webkit-border-radius:50%; -moz-border-radius:50%; -o-border-radius:50%;
animation:motion1 5s linear infinite; -moz-animation:motion1 5s linear infinite; -webkit-animation:motion1 5s linear infinite; -o-animation:motion1 5s linear infinite;}
@keyframes motion1
{0%{top:50px; left:-30px;} 35%{top:70px; left:-20px;}70%{top:80px; left:-40px; opacity:0.7;}100%{top:50px; left:-30px;}}
@-moz-keyframes motion1
{0%{top:50px; left:-30px;} 35%{top:70px; left:-20px;}70%{top:80px; left:-40px; opacity:0.7;}100%{top:50px; left:-30px;}}
@-webkit-keyframes motion1
{0%{top:50px; left:-30px;} 35%{top:70px; left:-20px;}70%{top:80px; left:-40px; opacity:0.7;}100%{top:50px; left:-30px;}}
@-o-keyframes motion1
{0%{top:50px; left:-30px;} 35%{top:70px; left:-20px;}70%{top:80px; left:-40px; opacity:0.7;}100%{top:50px; left:-30px;}}

.mm_img2 { position:absolute; z-index:1; opacity:0.8; display:block; width:100px; height:100px; background:linear-gradient(-130deg, #0A9AE6, #66D5F9); border-radius:50%; -webkit-border-radius:50%; -moz-border-radius:50%; -o-border-radius:50%;
animation:motion2 3s linear infinite; -moz-animation:motion2 3s linear infinite; -webkit-animation:motion2 3s linear infinite; -o-animation:motion2 3s linear infinite;}
@keyframes motion2
{0%{top:100px; left:50px;} 35%{top:95px; left:100px;}70%{top:103px; left:55px;opacity:0.5;}100%{top:100px; left:50px;}}
@-moz-keyframes motion2
{0%{top:100px; left:50px;} 35%{top:90px; left:100px;}70%{top:80px; left:60px;opacity:0.5;}100%{top:100px; left:50px;}}
@-webkit-keyframes motion2
{0%{top:100px; left:50px;} 35%{top:90px; left:100px;}70%{top:80px; left:60px;opacity:0.5;}100%{top:100px; left:50px;}}
@-o-keyframes motion2
{0%{top:100px; left:50px;} 35%{top:90px; left:100px;}70%{top:80px; left:60px;opacity:0.5;}100%{top:100px; left:50px;}}

.mm_img3 { position:absolute; z-index:1; opacity:0.2; display:block; width:300px; height:300px; background:linear-gradient(-130deg, #0741AA, #13C4E4); border-radius:50%; -webkit-border-radius:50%; -moz-border-radius:50%; -o-border-radius:50%;
animation:motion3 5s linear infinite; -moz-animation:motion3 5s linear infinite; -webkit-animation:motion3 5s linear infinite; -o-animation:motion3 5s linear infinite;}
@keyframes motion3
{0%{bottom:90px; right:-50px;} 35%{bottom:35px; right:-45px;}70%{bottom:105px; right:-55px;}100%{bottom:90px; right:-50px;}}
@-moz-keyframes motion3
{0%{bottom:90px; right:-50px;} 35%{bottom:35px; right:-45px;}70%{bottom:105px; right:-55px;}100%{bottom:90px; right:-50px;}}
@-webkit-keyframes motion3
{0%{bottom:90px; right:-50px;} 35%{bottom:35px; right:-45px;}70%{bottom:105px; right:-55px;}100%{bottom:90px; right:-50px;}}
@-o-keyframes motion4
{0%{bottom:90px; right:-50px;} 35%{bottom:35px; right:-45px;}70%{bottom:105px; right:-55px;}100%{bottom:90px; right:-50px;}}
 
@media screen  and (max-width:1000px) {
.mm_img1 { width:200px; height:200px;}
.mm_img2 { width:30px; height:30px;}
.mm_img3 { width:100px; height:100px;}
}


/* movie opup CSS */
.mfp-bg {top: 0;left: 0; width: 100%; height: 100%;z-index: 1042;  overflow: hidden; position: fixed;background: #0b0b0b; opacity: 0.8; }
.mfp-wrap { top: 0;left: 0;width: 100%;  height: 100%;z-index: 1043;position: fixed;  outline: none !important; -webkit-backface-visibility: hidden; }
.mfp-container {text-align: center; position: absolute; width: 100%;  height: 100%; left: 0; top: 0;padding: 0 8px;  box-sizing: border-box; }
.mfp-container:before { content: ''; display: inline-block;  height: 100%; vertical-align: middle; }
.mfp-align-top .mfp-container:before {  display: none; }
.mfp-content {position: relative;  display: inline-block;  vertical-align: middle;  margin: 0 auto;text-align: left;  z-index: 1045; }
.mfp-close{overflow: visible;cursor: pointer;background: transparent;border: 0; -webkit-appearance: none; display: block; outline: none; padding: 0; z-index: 1046; box-shadow: none; touch-action: manipulation; }
.mfp-close {width: 44px; height: 44px; line-height: 44px;position: absolute;right: 0;top: 0; text-decoration: none;text-align: center;opacity: 0.65;padding: 0 0 18px 10px; color: #FFF; font-style: normal;font-size: 28px; font-family: Arial, Baskerville, monospace; }
.mfp-close:hover,
.mfp-close:focus { opacity: 1; }
.mfp-close:active { top: 1px; }
 
.mfp-iframe-holder {  padding-top: 40px; padding-bottom: 40px; }
.mfp-iframe-holder .mfp-content {line-height: 0;  width: 100%; max-width: 900px; }
.mfp-iframe-holder .mfp-close { top: 0px; }
.mfp-iframe-scaler { width: 100%; height: 0; overflow: hidden; padding-top: 56.25%; }
.mfp-iframe-scaler iframe { position: absolute; display: block;top: 0; left: 0; width: 100%; height: 100%; box-shadow: 0 0 8px rgba(0, 0, 0, 0.6); background: #000; }




/* ¹è³Ê:: ¿Â¶óÀÎ¹®ÀÇ*/
.project_btn { width:100%; text-align:center; background:#010312 url('../../img/m_online_bg.jpg') no-repeat right 0;   padding:150px 0; }
.project_btn  h3 {background:url(../../img/icon_online2.png) no-repeat center top;   }
.project_btn .btn {margin-top:30px;}
.project_btn .btn a { background:#000 url(../../img/arrow_1.png) no-repeat 10px 14px;  color:#fff;}
@media screen  and (max-width:1000px) {
.project_btn {  padding:50px 0; }
.project_btn .btn {margin-top:20px;}
 }


 
  
/* ¹è³Ê:: °í°´¼¾ÅÍ  */
.m_board {background:#2C2803 url('../../img/m_board_bg.jpg') no-repeat center 0; background-attachment:fixed; width:100%; padding:120px 0 0 0; position:relative; text-align:center; overflow:hidden;}
.m_board .top_tit .subText  {color:#fff; }
.m_board  h2{color:#fff;  }
.m_board section {max-width:1260px; width:96%; margin:0 auto; }
.m_board section > div {width:42%; float:left;   text-align:left; padding:40px 4%;   }
.b_tit {border-bottom:1px solid #fff; padding-bottom:10px; margin-bottom:15px;}
.b_tit h3 {font-size:19px;}
.b_tit h3,.b_tit p {color:#fff;}





.b_tit .more a {overflow:hidden; position:absolute; z-index:2; top:0; right:0; width:30px; height:30px;
animation:rotate 5s linear infinite; -moz-animation:rotate 5s linear infinite; -webkit-animation:rotate 5s linear infinite; -o-animation:rotate 5s linear infinite;}
@keyframes rotate
{0%{} 50%{transform: rotate(180deg);} 100%{transform: rotate(360deg );}}
@-moz-keyframes rotate
{0%{} 50%{transform: rotate(180deg);} 100%{transform: rotate(360deg );}}
@-webkit-keyframes rotate
{0%{} 50%{transform: rotate(180deg);} 100%{transform: rotate(360deg );}}
@-o-keyframes rotate
{0%{} 50%{transform: rotate(180deg);} 100%{transform: rotate(360deg );}}


.b_tit .more a:hover {animation:stop; -moz-animation:stop; -webkit-animation:stop; -o-animation:stop;}
.b_tit .more a img {width:30px;}

.board_list .board_output {background:none;}
.board_list .board_output tr td  {text-align:right; font-size:15px; letter-spacing:0.05em; color:#fff;}
.board_list .board_output  .bd_out1  {text-align:left; padding:5px 0;}
.board_list .board_output  .bd_out1 a {color:#fff; }
.board_list .board_output .bd_out1 a {font-family:"NotoSansKR"; font-size:15px; letter-spacing:0.02em;}




/* ÇÏ´Ü ¼ýÀÚÄ«¿îÆ® */
.m_board .m_count {width:100%; background:url('../../img/b_bg.png')  repeat 0 0;    margin-top:50px; padding:70px 0; }
.m_count ul {width:100%;  max-width:1240px; width:96%; margin:0 auto;   }
.m_count ul:after {content:"";display:block;clear:both;}
.m_count ul li {float:left; width:25%; background:url(../../img/line.png) repeat-y right 0px; }
.m_count ul li:last-child { background:none;}
.m_count ul li dl {padding-left:80px; margin-left:30px; text-align:left;}
.m_count ul li dl.count_1 {background:url(../../img/mcount_1.png) no-repeat 0 2px; }
.m_count ul li dl.count_2 {background:url(../../img/mcount_2.png) no-repeat 0 2px; }
.m_count ul li dl.count_3 {background:url(../../img/mcount_3.png) no-repeat 0 2px; }
.m_count ul li dl.count_4 {background:url(../../img/mcount_4.png) no-repeat 0 2px; }
.m_count ul li dl dt {color:#fff;}
.m_count ul li dl dd b.counter {color:#fff; font-family: 'GmarketSansBold'; font-size:37px;  padding:top:10px;  letter-spacing:0.05em;}
@media screen  and (max-width:1360px) {
.board_list .board_output tr td,
.board_list .board_output .bd_out1 a {font-size:13px; letter-spacing:0;}
}
@media screen  and (max-width:1200px) {
.board_list .board_output tr td,
.board_list .board_output .bd_out1 a {font-size:12px; letter-spacing:-0.05em; }
}
@media screen  and (max-width:1000px) {
.m_board section > div {width:90%;  padding:25px 5%; display:block; }
.b_tit h3 {font-size:15px;}
.board_list .board_output tr td, 
.board_list .board_output .bd_out1 a {font-size:13px; letter-spacing:0; }
 /* ÇÏ´Ü ¼ýÀÚÄ«¿îÆ® */
.m_count ul li {width:47.2%; background:none; border:1px solid rgba(255,255,255,0.3); margin:2px 1%;  }
.m_count ul li dl {padding:10px 0 10px 40px; margin-left:15px; }
.m_count ul li dl.count_1,
.m_count ul li dl.count_2,
.m_count ul li dl.count_3,
.m_count ul li dl.count_4 {background-size:30px; background-position:0 20px;}
.m_count ul li dl dd b.counter {font-size:20px; }
}
@media screen  and (max-width:600px) {
.board_list .board_output tr td, 
.board_list .board_output .bd_out1 a {font-size:10px; letter-spacing:-0.05em; }
/* ÇÏ´Ü ¼ýÀÚÄ«¿îÆ® */
.m_board .m_count {  margin-top:30px; padding:30px 0; }
.b_tit .more a img {width:20px;}
}
@media screen  and (max-width:380px) {
.board_list .board_output .bd_out1 a {font-size:8px;}
}
